@font-face {
    font-family: 'PF Bulletin Sans Pro';
    src: url('../fonts/PFBulletinSansPro-Bold.woff2') format('woff2'),
        url('../fonts/PFBulletinSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PF Bulletin Sans Pro';
    src: url('../fonts/PFBulletinSansPro-Light.woff2') format('woff2'),
        url('../fonts/PFBulletinSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PF Bulletin Sans Pro';
    src: url('../fonts/PFBulletinSansPro-Medium.woff2') format('woff2'),
        url('../fonts/PFBulletinSansPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}