%h2-header {
    font-family: 'PF Bulletin Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
}

%h1-header {
    font-family: 'PF Bulletin Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 96px;
}
